In [20]:
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
%config InlineBackend.figure_format = 'retina'

In [26]:
data_turk = pd.read_csv("T1.csv")

In [27]:
data_turk.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [28]:
data_turk.describe()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
count,50530.000000,50530.000000,50530.000000,50530.000000
mean,1307.684332,7.557952,1492.175463,123.687559
std,1312.459242,4.227166,1368.018238,93.443736
min,-2.471405,0.000000,0.000000,0.000000
25%,50.677890,4.201395,161.328167,49.315437
50%,825.838074,7.104594,1063.776283,73.712978
75%,2482.507568,10.300020,2964.972462,201.696720
max,3618.732910,25.206011,3600.000000,359.997589

In [29]:
weather_df = pd.read_csv("weather2018.csv", sep=",")

In [30]:
weather_df.head()

,Time,Temperature(°C),Precipitation(mm),Cloudcover(%),Pressure(hPa),Wind Speed(km / h),Dewpoint(°C)
0,01 01 2018 00:00,-1.3,0.0,9,917.2,8.2,-2.1
1,01 01 2018 00:10,-1.3,0.0,9,917.2,8.2,-2.1
2,01 01 2018 00:20,-1.3,0.0,9,917.2,8.2,-2.1
3,01 01 2018 00:30,-1.3,0.0,9,917.2,8.2,-2.1
4,01 01 2018 00:40,-1.3,0.0,9,917.2,8.2,-2.1

In [31]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52560 entries, 0 to 52559
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                52560 non-null  object
 1   Temperature(°C)     52560 non-null  float64
 2   Precipitation(mm)   52560 non-null  float64
 3   Cloudcover(%)       52560 non-null  int64
 4   Pressure(hPa)       52560 non-null  float64
 5   Wind Speed(km / h)  52560 non-null  float64
 6   Dewpoint(°C)        52560 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 2.8+ MB

In [32]:
weather_df["Date/Time"] = weather_df["Time"]

In [37]:
merged_df = pd.merge(data_turk, weather_df, on='Date/Time', how='inner')
merged_df.isnull().values.any()

False

In [39]:
merged_df.to_csv('merged_data.csv', index= False)